*, *:before, *:after {
   -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.green {
  color: green;
}

.yellow {
  color: black;
}

.red {
  color:#dd2222;
}

body {
    height:100%;
}

html{
    height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}

#right-content {
    position: relative;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    width: 30%;
    height: 100%;
    background-color: black;
}

#degrees {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200px;
  -webkit-transform: rotate(90deg);
  top: 15%;
  right: -20%;
  color: white;
}

#city {
  position: absolute;
  right: 10%;
  top: 80%;
}

#selected-city {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

#city-temperature {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

#city p, h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

#thermostat {
  position: absolute;
  right: -10%;
  top: 30%;
}

#provide-temperature {
  background:none;
  border:none;
  margin:0;
  padding:0;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
}

#left-content {
    position: relative;
    float: left;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    width: 70%;
    height: 100%;
    background-color: white;
}

.temperature {
  position: absolute;
  right: 2%;
  top: 20%;
}

#temperature {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200px;
  text-align: right;
  line-height: 0%;
  margin-right: -7px;
}

#controls-temperature {
  text-align: right;
  line-height: 0%;
  top: 20%;
  margin-top: -50px;
  font-size: 100px;
}

#temperature-up {
  background:none;
  border:none;
  margin:0;
  padding:0;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#temperature-down {
  background:none;
  border:none;
  margin:0;
  padding:0;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#temperature-reset {
  background:none;
  border:none;
  margin:0;
  padding:0;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#power-saving {
  line-height: 40px;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding-bottom: 10px;
  font-weight: bold;
}

.one {
  margin-top: -50px;
  margin-right: -200px;
  font-family: Arial, Helvetica, sans-serif;
}

.one .button-wrap {
  width: 120px;
  margin: 40px auto 0;
  cursor: pointer;
}
.one .button-bg {
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 40px;
  padding: 3px;
  color:#fff;
  transition:all 0.2s ease;
}
.one .button-switch {
  position:relative;
  left:0px;
  width: 64px;
  height: 44px;
  border:solid 13px;
  border-radius: 36px;
  transition:all 0.2s ease;
}
.one .button-active .button-switch { left:50px; }
.one .powersaving-off,
.one .powersaving-on {
  position:absolute;
  transition:all 0.2s ease;
  padding-top:15px;
  font-size:0.8em;
  text-transform:uppercase;
  font-weight:bold;
}
.one .powersaving-off { margin-left:70px; color:#dd2222;}
.one .powersaving-on { margin-left:20px; color:#22dd22; }
.one .button-active .powersaving-on { color:#22dd22; }
.one .button-active .powersaving-off { color:#dd2222; }
.one .button-active .button-bg { background-color:#000; }

.button-bg {
  text-align: right;
}

.rectangle {
  position: relative;
  left: 2%;
  top: 60%;
  margin: 0;
  padding: 0;
  border: 0;
}

#rectangle {
  position: absolute;
  height: 50px;
  fill: #dd2222;
  top: 50%;
  margin: 0;
  padding: 0;
  border: 0;
}
